<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>My Shopping List with AngularJS</title>
	<link rel="stylesheet" href="css/normalize.css" media="screen">
	<link rel="stylesheet" href="css/foundation.min.css" media="screen">
	<link rel="stylesheet" href="css/app-screen.css" media="screen">
	<link rel="stylesheet" href="css/app-print.css" media="print">
</head>
<body ng-controller="ShoppingListController">
	<div class="row">
		<div class="column">
			<h1>My Shopping List</h1>

			<form id="addForm" accept-charset="utf-8" ng-submit="insert()">
				<div class="row">
					<div class="column">
						<span class="spanLabel" ng-show="!minimumCharactersMet()">You need at least {{ howManyMoreCharactersNeeded() }} characters more.</span>
						<span class="spanLabel" ng-show="isNumberOfCharactersWithinRange()">Remaining characters: {{ howManyCharactersRemaining() }}</span>
						<span class="spanLabel warning" ng-show="anyCharactersOver()">{{ howManyCharactersOver() }} characters too many</span>
					</div>	
				</div>

				<div class="row">
					<div class="large-8 columns">
						<input 
						type="text" 
						name="item" 
						placeholder="Item" 
						ng-model="item"
						ng-trim="false">
					</div>


					<div class="large-2 columns">
						<input 
						type="text" 
						name="qty" 
						placeholder="Qty/Weight"
						ng-model="qty"
						ng-trim="false">
					</div>


					<div class="large-2 columns">
						<select 
						name="type"
						ng-model="type">
							<option value="{{ type.id }}" ng-repeat="type in types">{{ type.name }}</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="column">
						<div class="show-for-medium-up">
							<div class="flr">
								<button type="button" class="small button primary" ng-click="print()">
									<i class="fa fa-print"> Print List</i>
								</button>

								<button type="button" class="small button alert" ng-click="remove()">
									<i class="fa fa-time"> Clear Completed</i>
								</button>
							</div>

							<button type="submit" class="small button" ng-disabled="!goodToGo()">
									<i class="fa fa-plus"> Add</i>
							</button>

							<button type="submit" class="small button secondary" ng-click="clear()">
									<i class="fa fa-ban"> Clear Entry</i>
							</button>
						</div>
						
						<div class="show-for-small-only">
							<ul class="button-group even-4">
								<li>
									<button type="submit" class="small button" ng-disabled="!goodToGo()">
										<i class="fa fa-plus"></i>
									</button>
								</li>
								<li>
									<button type="submit" class="small button secondary" ng-click="clear()">
										<i class="fa fa-ban"></i>
									</button>
								</li>
								<li>
									<button type="button" class="small button primary" ng-click="print()">
										<i class="fa fa-print"></i>
									</button>
								</li>
								<li>
									<button type="button" class="small button alert" ng-click="remove()">
										<i class="fa fa-time"></i>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</form>

			<form id="items">
				<div class="row" ng-repeat="item in items" ng-class="{ 'done' : item.done == 1 }">
					<div class="small-8 columns itemName">
						<label for="item-{{ item.id }}">
							<input type="checkbox" name="item-{{ item.id }}" id="item-{{ item.id }}" ng-model="item.done" ng-true-value="1" ng-false-value="0" ng-change="update(item)">
							{{ item.item }}
						</label>
					</div>

					<div class="small-2 columns itemQty">
						{{ item.qty }}
					</div>

					<div class="small-2 columns itemType">
						{{ item.type_name }}
					</div>
				</div>
			</form>
		</div>
	</div>
		<script src="https://use.fontawesome.com/8e22083acd.js"></script>
	<script src="javascripts/angular.min.js" type="text/javascript" charset="utf-8" ></script>
	<script src="javascripts/shopping-list.js" type="text/javascript" charset="utf-8" ></script>
</body>
</html>